{% extends 'main/base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1>Профиль: {{ request.user.username }}</h1>
  <p>Имя: {{ request.user.first_name }} <br> Фамилия: {{ request.user.last_name }} <br> Отчество: {% if request.user.profile.patronymic %}{{ request.user.profile.patronymic }}{% endif %}</p>

  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input class="btn btn-danger " type="submit" value="Выйти"></input>
  </form>
{% endblock %}